
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.dc-chart g.row text {
	fill: black;
	font-size: 12px;
}

#map {
      height:1000px;
      width:100%;
      padding:5px;
      margin:5px;
}

    }
    .search-tip b {
      color: #fff;
    }
    .pharmacy.search-tip b,
    .pharmacy.leaflet-marker-icon {
      background: #f6f;
      opacity: 0.9 ;

    }
    .hospital.search-tip b,
    .hospital.leaflet-marker-icon {
      background: #66f
      opacity: 0.9 ;
    }
    .search-tip {
      white-space: nowrap;
    }
    .search-tip b {
      display: inline-block;
      clear: left;
      float: right;
      padding: 0 8px;
      margin-left: 4px;
    }
    
      html, body {
      height: 100%;
      margin: 0;
    }

    .leaflet-marker-icon {
      color: #fff;
      font-size: 12px;
      line-height: 16px;  
      text-align: center;
      vertical-align: middle;
      box-shadow: 1px 1px 1px rgba(0,0,0,0);
      border-radius: 8px;
      border:0.1px solid #fff;
    }
